<div class="inner cover">
  <h1 class="cover-heading">/MagicQuotes/</h1>
  <p class="lead">Software development that escapes the imgaination.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>




